<div class="col-xs-12 text-center entries">
  <h4 class="primary-text">Unlimited Entries Through January 27, 2017</h4>
  <br>
  <a class="primary-text rules margin-top" href="https://disneytermsofuse.com/" target="_blank">Terms of Use</a>
  <br>
  <a class="primary-text rules margin-top" href="http://www.radiodisneyapp.com/rules" target="_blank">Official Rules</a>
  <br>
  <a class="privacy-policy rules primary-text margin-top" href="https://disneyprivacycenter.com" target="_blank">Privacy Policy</a>
  <br>
  <a class="primary-text rules margin-top" href="https://disneyprivacycenter.com/notice-to-california-residents/" target="_blank">Your California Privacy Rights</a>
  <br>
  <a class="primary-text rules margin-top" href="https://disneyprivacycenter.com/kids-privacy-policy/english/" target="_blank">Children's Online Privacy Policy</a>
</div>
