<div class="row">
  <div class="star col-xs-2 col-xs-offset-1"></div>
  <div class="star col-xs-2"></div>
  <div class="star col-xs-2"></div>
  <div class="star col-xs-2"></div>
  <div class="star col-xs-2"></div>
</div>
<div class="row">
  <ul id="enter-list" class="col-xs-10 col-xs-offset-1 text-center secondary-text">
    <li>ENTER FOR A CHANCE TO</li>
    <li>MEET <i class="primary-text normal-text">MADDIE & TAE</i> AND SEE</li>
    <li>THEM PERFORM AT THE 2017</li>
    <li>SAN ANTONIO STOCK SHOW & RODEO!</li>
  </ul>
</div>
<div class="row">
  <div class="rope col-xs-12"></div>
  <h3 class="secondary-text text-center"><strong>ONE GRAND PRIZE</strong></h3>
  <ul id="grand-prize-list" class="col-xs-10 col-xs-offset-1 text-center">
    <li>MEET -&- GREET WITH MADDIE & TAE</li>
    <li>TICKETS TO SEE MADDIE & TAE PERFORM</li>
    <li>TRIP FOR 4 TO SAN ANTONIO, TX</li>
    <li>TICKETS TO THE 2017 SAN ANTONIO STOCK SHOW & RODEO</li>
  </ul>
  <div class="rope col-xs-12"></div>
</div>
