<div id="prize-container">
  <div class="row">
    <div class="star col-xs-2"></div>
    <div class="star col-xs-2"></div>
    <div class="star col-xs-2"></div>
    <div class="star col-xs-2"></div>
    <div class="star col-xs-2"></div>
    <div class="star col-xs-2"></div>
  </div>
  <div class="row">
    <ul id="enter-list" class="col-xs-10 col-xs-offset-1 text-center secondary-text styled-list">
      <li class="list-header">ENTER FOR A CHANCE TO</li>
      <li>MEET <i class="primary-text normal-text">MADDIE <i class="and-font">&</i> TAE</i> AND SEE</li>
      <li>THEM PERFORM AT THE 2017</li>
      <li>SAN ANTONIO STOCK SHOW <i class="and-font">&</i> RODEO!</li>
    </ul>
  </div>
  <div class="row">
    <div class="rope col-xs-12"></div>
    <ul id="grand-prize-list" class="col-xs-10 col-xs-offset-1 text-center styled-list">
      <li class="secondary-text text-center list-header">ONE GRAND PRIZE</li>
      <li>MEET<i class="and-font">-&- </i>GREET WITH MADDIE <i class="and-font">&</i> TAE</li>
      <li>TICKETS TO SEE MADDIE <i class="and-font">&</i> TAE PERFORM</li>
      <li>TRIP FOR 4 TO SAN ANTONIO, TX</li>
      <li>TICKETS TO THE 2017 SAN ANTONIO STOCK SHOW <i class="and-font">&</i> RODEO</li>
    </ul>
    <div class="rope col-xs-12"></div>
  </div>
</div>
