<div id="terms" class="col-xs-12">
  <h4>Unlimited Entries Through APRIL 9, 2017</h4>
  <br>
  <a class="terms-text margin-top" href="http://www.radiodisneyapp.com/rules" target="_blank">Official Rules</a>
  <br>
  <a class="terms-text margin-top" href="https://disneyprivacycenter.com" target="_blank">Privacy Policy</a>
  <br>
  <a class="terms-text margin-top" href="https://disneyprivacycenter.com/notice-to-california-residents/" target="_blank">Your California Privacy Rights</a>
  <br>
  <a class="terms-text margin-top" href="https://disneyprivacycenter.com/kids-privacy-policy/english/" target="_blank">Children's Online Privacy Policy</a>
</div>
